ul li{
    list-style-type: none;
}

li{
    display: inline-block;
}
.top-left{
    display: inline;
    float: left;
}
.top-right{
    float: right;
    display: inline;
}
.nav li{
    padding-right: 5px;
}
#main{
    text-align: center;
    padding-top: 200px;
}

.search{
    width: 569px;
    height: 25px;
    box-shadow: 2px 2px 5px grey;
    

}
.search:hover{
    width: 569px;
    height: 25px;
    box-shadow: 3px 3px 5px grey;
input {

    font-size: 100%;
}
input[type="text"]{

    font-size:24px;
}